<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="node_modules/vue/dist/vue.min.js"></script>
</head>

<body>
  <div id="app">
    {{title}}
    <div v-once>{{title}}</div>
    <p v-bind:id="myApp">{{title}}</p>
    <p :id="myApp">{{title}}</p>
    <div>{{htmlStr}}</div>
    <div v-html="htmlStr"></div>
    <div>
      {{number + 1}}
    </div>
    <div>
      {{isShow ? 1: 0}}
    </div>
    <div>
      {{str.split(" ").join("，")}}
    </div>
    <div v-if="type === 1">type:{{type}}</div>
    <div v-else-if="type === 2">type:{{type}}</div>
    <div v-else>type:{{type}}</div>
    <div v-show="isShow">type:{{type}}</div>
    <div v-on:click="alert(0)">点我</div>
    <div>
      <ul>
        <li v-for="item in myList">{{item.name}}</li>
      </ul>
    </div>
    <input v-model="title">
    <div>
      <p v-if="isShow">我是p标签</p>
      <button @click="handelClick">点击显示隐藏p标签</button>
    </div>

  </div>
  <script>
    var htmlStr = '<div style="color:red">我的学习</div>'
    let app = new Vue({
      el: "#app",
      data: {
        myApp: "Hello Vue",
        title: "Hello world",
        htmlStr: htmlStr,
        number: 1,
        isShow: true,
        str: "我是中国人 我爱我的祖国",
        type: 3,
        isShow: true,
        myList: [
          { name: 'vue基础课程' },
          { name: 'vue进阶课程' },
          { name: 'vue高级课程' },
          { name: 'vue实战课程' },
          { name: 'vue+webpack课程' },
        ]
      },
      methods: {
        handelClick() {
          this.isShow = !this.isShow;
        }
      }
    })
    app.$data.title = "Hello Vue";
  </script>
</body>

</html>